body {
    margin: 0;
    height: calc(100vh - 20px);
    padding-top: 20px;
}



.chat-input {
    margin-top: auto;
    width: calc(100% - 10px );
}

.title {
    text-align: center;
    margin-top: 0;
}

.main-container {
    height: 100%;
    padding: 0 10px;
}

.main {
    height: 100%;
}

.chat-container{
    height: calc(100% - 87px);
}