body {
    margin: 0;
    height: calc(100vh - 20px);
    padding-top: 20px;
}

#__next {
    height: 100%;
}

.main {
    height: 100%;
}


.main-container {
    height: 100%;
    padding: 0 10px;

    .title {
        text-align: center;
        margin-top: 0;
    }

    .chat-container{
        height: calc(100% - 120px);
    }

    .chat-controls {
        display: flex;
        gap: 10px;
    }

    .chat-input {
        margin-top: auto;
        width: calc(100% - 10px );
    }

    .chat-message {
        &.message-left {
            margin-right: auto;
        }
        &.message-right {
            margin-left: auto;
            text-align: right;
        }
    }
    
}












